:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --header-footer-bg: #333;
    --header-footer-text: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Encabezado */
header {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
}

/* Pie de página */
footer {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
}
